:root {
    --title-color: #2e2f42;
    --text-color: #434455;
    --main-white: #ffffff;
    --logo-color: #4d5ae5;
    --light-background: #e5e5e5;
    --light-blue-background: #f4f4fd;
    --focus-color: #404bbf;
    --border-color: #e7e9fc;
    --button-shadow: rgba(0, 0, 0, 0.15);
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--main-white);
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    margin-top: 0;
  }
  ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
  }
  img {
    display: block;
  }
  .link {
    text-decoration: none;
  }
  
  .list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    text-transform: uppercase;
    margin-right: 76px;
    display: inline-block;
  }
  
  .header {
    border-bottom: 1px solid var(--border-color);
    background-color: var(--main-white);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
  }
  
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-list {
    list-style-type: none;
font-weight: 500;
font-size: 16px;
list-style: none;
line-height: 24px;
letter-spacing: 0.02em;
display: flex;
margin: 0;
gap: 40px;
  }
  
  .header-list-link {
    color: #2E2F42;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .current{
    position: relative;
    color: var(--links);
}

.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404BBF;
        height: 4px;
        border-radius: 2px;
        display: block;
        width: 100%
}

  .header-address {
    display: flex;
    margin-left: 0;
  }
  
  .header-address-list {
    list-style-type: none;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
text-decoration: none;
display: flex;
margin: 0 0 0 332px;
gap: 40px;
  }
  
  .header-address-item {
    display: block;
margin: 0;
padding: 24px 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  



  .header-logo {
    color: var(--title-color);
  }
  
  .footer-logo {
    color: var(--light-blue-background);
  }
  
  .header-list-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  
  .header-list-link:hover,
  .header-list-link:focus {
    color: var(--focus-color);
  }
  
  .header-address {
    font-style: normal;
  }
  
  .header-address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
  }
  
  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--focus-color);
  }
  
  .main-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 188px 0;
    display: flex;
    max-width: 1440px;
  }
  
  .main-header {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--main-white);
    max-width: 496px;
    margin-bottom: 48px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
  
  .main-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-white);
    background: var(--brand-color);
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .main-button:hover,
  .main-button:focus {
    background-color: var(--focus-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 
0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  
  .privilages {
    background: var(--light-background);
    padding: 120px 0;
  }
  
  .privilages-list {
    display: flex;
    gap: 24px;
  }
  
  .privilages-item {
    width: calc((100% - 72px) / 4);
  }
  
  privilages-container{
    display: flex;
justify-content: center;
align-items: center;
height: 112px;
border-radius: 4px;
margin-bottom: 8px;
  }

  .main-section-subheader {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
  }
  
  .main-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
  
  .main-section-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
  }
  
  .activities {
    background: var(--light-background);
    padding-bottom: 120px;
  }
  
  .activities-list {
    display: flex;
    gap: 24px;
  }
  
  .activities-item {
    width: calc((100% - 48px) / 3);
  }
  


  .team {
    background: var(--light-blue-background);
    padding: 120px 0;
  }
  
  .team-list {
    display: flex;
    gap: 24px;
  }
  
  .team-item {
    background-color: var(--main-white);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team-card {
    padding: 32px 16px;
  }
  
  .team-subheader {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 8px;
  }
  .team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-align: center;
  }

SeECTION FUVE


.sec-customers {
  padding: 120px 0;
}
.customers {
}
.container {
}
.customers-title {
  margin-bottom: 72px;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--main-color);
}
.customers-list {
  display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 24px;
}
.list {
}
.customers-links {
  border-radius: 4px;
width: calc((100% - 120px) / 6);
height: 88px;
}

.customers-links:hover,
.customers-links:focus {
border: 1px solid #404BBF;
}
.customers-link {
  width: 100%;
height: 100%;
border: 1px solid #8e8f99;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
color: var(--link-icons);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
border-color: #404BBF;
color: #404BBF;
}

.icon-customers {
  fill: currentColor;
}

  
  .footer {
    padding: 100px 0;
    background: var(--title-color);
  }
  .footer-text {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-blue-background);
  }
  
  .logo-ftr {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    text-transform: uppercase;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
  }


PORT

.portfolio-main{
    padding-top: 96px;
     padding-bottom: 120px;
}

.portfolio {
    background: var(--light-background);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .portfolio-filter {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
  }
  
  .portfolio-filter-button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--logo-color);
    background: var(--light-blue-background);
    cursor: pointer;
    letter-spacing: 0.04em;
    align-content: center;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
  }
  
  .portfolio-filter-button:hover,
  .portfolio-filter-button:focus {
    background-color: var(--focus-color);
    color: var(--main-white);
    border: 1px solid transparent;
  }
  
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }
  
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    background: var(--main-white);
  }
  
  .app-name {
    padding: 32px 16px;
    border: 1px solid var(--border-color);
    border-top: none;
  }
  
  .portfolio-subheader {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
  }
  .portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }